<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>@ViewBag.Title</title>

    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Seyahat Rehberi</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="Home" asp-action="Index">Şehirler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin Panel</a>
                </li>
            </ul>
            
            <ul class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                   
                    <li class="nav-item">
                        <a class="nav-link" href="">@User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Çıkış Yap</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Giriş Yap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Register">Kayıt Ol</a>
                    </li>
                }

            </ul>
        </div>
    </div>
</nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
